@model SmartPet.Models.Note

<h2>Create Note</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.petId)

	<div class="form-horizontal">
		<hr />

		<div class="form-group">
			@Html.LabelFor(model => model.content)
			@Html.TextAreaFor(model => model.content, new { @class = "form-control", rows = 5 })
		</div>

		<br />
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>
}

<br />
@Html.ActionLink("Back to List", "Index", new { petId = Model.petId })