@model SmartPet.Models.Pet

@{
	ViewBag.Title = "Create Pet";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Pet</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />

		<div class="form-group">
			@Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.name, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.type, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.type, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.microchipId, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.microchipId, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.microchipId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Birthdate, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.Birthdate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.breed, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.breed, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.breed, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.gender, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.gender, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.weight, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.weight, new { @class = "form-control", type = "number", step = "0.1" })
				@Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-success" />
			</div>
		</div>

	</div>
}

<br />
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
